<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en"
  th:fragment="mainLayout(css, content, script)">

<head>

  <div th:replace="~{fragments/components/header :: meta}"></div>

  <div th:replace="~{fragments/components/header :: css}"></div>

  <div th:replace="~{fragments/components/header :: sundry-css}"></div>

  <div th:replace="~{fragments/components/header :: style-css}"></div>
</head>

<body id="body">
  <div th:replace="~{fragments/components/header :: header}"></div>
  <div th:replace="~{fragments/components/header :: menu}"></div>
  <section class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content">
            <h1 class="page-name">Bảng điều khiển</h1>
            <ol class="breadcrumb">
              <li><a href="index.html">Trang chủ</a></li>
              <li class="active">Tài khoản của tôi</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="user-dashboard page-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-inline dashboard-menu text-center">
            <li><a th:href="@{/account}">Bảng điều khiển</a></li>
            <li><a th:href="@{/account/order}">Đơn đặt hàng</a></li>
            <li><a class="active" th:href="@{/account/profileDetails}">Chi tiết hồ sơ</a></li>
          </ul>
          <div class="dashboard-wrapper dashboard-user-profile">
            <div class="media">
              <div class="pull-left text-center" href="#!">
                <img class="media-object user-img" th:src="@{/main/images/channels4_profile.jpg}" alt="Hình ảnh">

                <a href="#x" class="btn btn-transparent mt-20">Thay đổi hình ảnh</a>
              </div>
              <div class="media-body">
                <ul class="user-profile-list">
                  <li>
                    <span><b>Họ và tên:</b></span>
                    <p style="display: inline-block;" th:text="${user.name}"></p>
                  </li>
                  <li>
                    <span><b>Email:</b></span>
                    <p style="display: inline-block;" th:text="${user.email}"></p>
                  </li>
                  <span><b>Số điện thoại::</b></span>
                  <p style="display: inline-block;" th:text="${user.phone}"></p>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <div th:replace="~{fragments/components/footer :: footer}"></div>

  <div th:replace="~{fragments/components/footer :: script}"></div>
</body>

</html>