spring.datasource.url=jdbc:mysql://${spring.datasource.username}:${spring.datasource.password}@bnaijpgs50fk8m8a1rum-mysql.services.clever-cloud.com:3306/bnaijpgs50fk8m8a1rum?createDatabaseIfNotExist=true

spring.datasource.username=ueg2aglkto6ihhq3
spring.datasource.password=1pjMlTpubncjoMtdzLtN

spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQLDialect

spring.servlet.multipart.max-file-size=100MB