<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en"
	th:replace="~{layouts/main-layout :: mainLayout(~{::link.main-main}, ~{::section.main-main}, ~{::script.main-main})}">

<head>
	<link class="main-main" rel="stylesheet" th:href="@{main/css/style.css}">
</head>
<section class="main-main" th:remove="tag">
	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="content">
						<h1 class="page-name">Thanh toán</h1>
						<ol class="breadcrumb">
							<li><a href="index.html">Trang chủ</a></li>
							<li class="active">thanh toán</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>



	<div class="page-wrapper">
	   <div class="checkout shopping">
	      <div class="container">
	         <div class="row">
	            <div class="col-md-8">
	               <div class="block billing-details">
	                  <h4 class="widget-title">CHI TIẾT THANH TOÁN</h4>
	                  <form class="checkout-form">
								  <div class="form-group">
			                        <label for="full_name">Họ và tên</label>
			                        <input type="text" class="form-control" id="full_name" th:value="${customer.name}"/>
			                     </div>
			                     <div class="form-group">
			                        <label for="user_address">Địa chỉ</label>
			                        <input type="text" class="form-control" id="user_address" th:value="${customer.address}">
			                     </div>
			                     <div class="form-group">
			                        <label for="user_address">Số điện thoại</label>
			                        <input type="text" class="form-control" id="user_address" th:value="${customer.phone}">
			                     </div>
	                    
<!--	                     <div class="checkout-country-code clearfix">
	                        <div class="form-group">
	                           <label for="user_post_code">Zip Code</label>
	                           <input type="text" class="form-control" id="user_post_code" name="zipcode" value="">
	                        </div>
	                        <div class="form-group" >
	                           <label for="user_city">City</label>
	                           <input type="text" class="form-control" id="user_city" name="city" value="">
	                        </div>
	                     </div>
	                     <div class="form-group">
	                        <label for="user_country">Country</label>
	                        <input type="text" class="form-control" id="user_country" placeholder="">
	                     </div>-->
	                  </form>
	               </div>
<!--	               <div class="block">
	                  <h4 class="widget-title">Payment Method</h4>
	                  <p>Credit Cart Details (Secure payment)</p>
	                  <div class="checkout-product-details">
	                     <div class="payment">
	                        <div class="card-details">
	                           <form  class="checkout-form">
	                              <div class="form-group">
	                                 <label for="card-number">Card Number <span class="required">*</span></label>
	                                 <input  id="card-number" class="form-control"   type="tel" placeholder="•••• •••• •••• ••••">
	                              </div>
	                              <div class="form-group half-width padding-right">
	                                 <label for="card-expiry">Expiry (MM/YY) <span class="required">*</span></label>
	                                 <input id="card-expiry" class="form-control" type="tel" placeholder="MM / YY">
	                              </div>
	                              <div class="form-group half-width padding-left">
	                                 <label for="card-cvc">Card Code <span class="required">*</span></label>
	                                 <input id="card-cvc" class="form-control"  type="tel" maxlength="4" placeholder="CVC" >
	                              </div>
	                              <a href="confirmation.html" class="btn btn-main mt-20">Place Order</a >
	                           </form>
	                        </div>
	                     </div>
	                  </div>
	               </div>-->
	               <a th:href="@{'/cart/thanhToan'}" class="btn btn-main mt-20">Thanh toán</a >
	            </div>
	            <div class="col-md-4">
	               <div class="product-checkout-details">
	                  <div class="block">
	                     <h4 class="widget-title">TÓM TẮT THEO THỨ TỰ</h4>
	                     <div class="media product-card">
							 <tr th:each="item : ${cartItems}">
								 <a class="pull-left" href="product-single.html">
		                           <td th:text="${item.product_detail.product.images[0].url}"></td>
		                        </a>
		                        <div class="media-body">
		                           <h4 class="media-heading"><a href="product-single.html"><td th:text="${item.product_detail.product.name}"></a></h4>
		                           <p class="price"><td th:text="${item.quantity}"></td> x <td th:text="${item.product_detail.product.price}"></td>VND</p>
		                           <span class="remove" >Xóa</span>
		                        </div>
							  </tr>
	                     </div>
	                     <div class="discount-code">
	                        <p>Có giảm giá?<a data-toggle="modal" data-target="#coupon-modal" href="#!"> nhập vào đây </a></p>
	                     </div>
	                     <ul class="summary-prices">
	                        <li>
	                           <span>Tổng hàng hóa:</span>
	                           <span class="price" th:text="@{${#numbers.formatDecimal(totalPrice, 0, 'COMMA', 0, 'POINT')+' VNĐ'}}">
	                        </li>
	                        <li>
	                           <span>Phí vận chuyển:</span>
	                           <span>Miễn phí</span>
	                        </li>
	                     </ul>
	                     <div class="summary-total">
	                        <span>Tổng cộng</span>
	                        <span th:text="@{${#numbers.formatDecimal(totalPrice, 0, 'COMMA', 0, 'POINT')+' VNĐ'}}">
	                     </div>
	                     <div class="verified-icon">
	                        <img width="80" th:src="@{/main/images/shop/verified.png}" alt="" />
	                     </div>
	                  </div>
	               </div>
	            </div>
	         </div>
	      </div>
	   </div>
	</div>


</section>

<body>
	<script class="main-main" th:src="@{main/js/script.js}" }></script>
</body>

</html>

