<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en"
	th:replace="~{layouts/authentication-layout :: mainLayout(~{::link.main-main}, ~{::section.main-main}, ~{::script.main-main})}">
<head>
	<link class="main-main" rel="stylesheet" th:href="@{main/css/style.css}">
</head>

<body>
	<section class="main-main" th:remove="tag">
		<section class="forget-password-page account">
		  <div class="container">
		    <div class="row">
		      <div class="col-md-6 col-md-offset-3">
		        <div class="block text-center">
		          <a class="logo" th:href="@{/}">
	            	<img th:src="@{/main/images/teenboutique.png}" style="width: 200px;" alt="Your Logo">
		          </a>
		          <h2 class="text-center">Chào Mừng Trở Lại</h2>
		          <form class="text-left clearfix" th:action="@{/forget}" th:object="${customer}" th:method="post">
		            <p>
						Hãy nhập vào địa chỉ email của tài khoản bạn. Một mã số xác thực sẽ được gửi đến bạn. 
						Một khi bạn nhận được mã số xác thực, bạn sẽ có thể tạo một mật khẩu mới cho tài khoản của bạn.
 					</p>
		            <div class="form-group">
		              <input type="email" class="form-control" th:field="*{email}" placeholder="Email Của Tài Khoản">
		            </div>
		            <div class="text-center">
		              <button type="submit" class="btn btn-main text-center">Đặt Lại Mật Khẩu</button>
		            </div>
		            <div th:if="${successMessage}" class="alert alert-success" role="alert">
    					<p th:text="${successMessage}"></p>
					</div>
					<div th:if="${errorMessage}" class="alert alert-danger" role="alert">
    					<p th:text="${errorMessage}"></p>
					</div>
		          </form>
		          <p class="mt-20"><a th:href="@{/login}">Quay Trở Về Đăng Nhập</a></p>
		        </div>
		      </div>
		    </div>
		  </div>
		</section>
	</section>
	<script class="main-main" th:src="@{main/js/script.js}" }></script>
</body>
</html>