<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
 // You take the design from the design template file
-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en"
	th:replace="~{layouts/main-layout :: mainLayout(~{::link.main-main}, ~{::section.main-main}, ~{::script.main-main})}">

<head>
	<link class="main-main" rel="stylesheet" th:href="@{/main/css/style.css}">
</head>

<body>
	<section class="main-main" th:remove="tag">
		<div class="hero-slider">
			<div class="slider-item th-fullpage hero-area"
				style="background-image: url(main/images/slider/slider-1.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 text-center">
							<p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">SẢN PHẨM</p>
							<h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">Thời trang giới
								trẻ <br> tự tin, năng động.</h1>
							<a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn"
								href="/">Mua ngay</a>
						</div>
					</div>
				</div>
			</div>
			<div class="slider-item th-fullpage hero-area"
				style="background-image: url(main/images/slider/slider-3.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 text-left">
							<p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">SẢN PHẨM</p>
							<h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">Thời trang giới
								trẻ <br> tự tin, năng động.</h1>
							<a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn"
								href="/">Mua ngay</a>
						</div>
					</div>
				</div>
			</div>
			<div class="slider-item th-fullpage hero-area"
				style="background-image: url(main/images/slider/slider-2.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 text-right">
							<p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">SẢN PHẨM</p>
							<h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">Thời trang giới
								trẻ <br> tự tin, năng động.</h1>
							<a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn"
								href="/">Mua ngay</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<section class="product-category section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title text-center">
							<h2>Phân Loại Sản Phẩm</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div th:each="category: ${categories}" class="col-md-4">
						<div class="category-box col">
							<a href="#!">
								<img th:src="@{/main/images/shop/category/category-2.jpg}" alt="" />
								<div class="content">
									<h3 th:text="${category.name}"></h3>
									<p></p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="products section bg-gray">
			<div class="container">
				<div class="row">
					<div class="title text-center">
						<h2>Sản phẩm nổi bật</h2>
					</div>
				</div>
				<div class="row">
					<div th:each="product: ${products}" class="col-md-4">

						<div class="product-item">
							<div class="product-thumb">
								<img class="img-responsive" th:src="${product.getImages[0].url}" alt="product-img" />
								<div class="preview-meta">
									<ul>
										<li>

											<a th:href="@{/main/productdetail/{id}(id=${product.id})}"><i
													class="tf-ion-ios-search-strong"></i></a>

										</li>
										<li>
											<a th:href="@{/main/productdetail/{id}(id=${product.id})}"><i
													class="tf-ion-android-cart"></i></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="product-content">
								<h4><a th:text="${product.name}"
										th:href="@{/main/productdetail/{id}(id=${product.id})}"></a></h4>
								<p th:inline="text" class="price">[[${#numbers.formatDecimal(product.price, 0, 'COMMA',
									0, 'POINT')}]] VNĐ</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>


		<section class="call-to-action bg-gray section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="title">
							<h2>ĐĂNG KÝ NGAY</h2>
							<p>Đăng ký để nhận những thông tin mới nhất về sản phẩm.</p>
						</div>
						<div class="col-lg-6 col-md-offset-3">
							<div class="input-group subscription-form">
								<a class="input-group-btn" th:href="@{/register}">
									<button class="btn btn-main" type="button">Đăng Ký!</button>
								</a>
							</div><!-- /input-group -->
						</div><!-- /.col-lg-6 -->

					</div>
				</div> <!-- End row -->
			</div> <!-- End container -->
		</section> <!-- End section -->

		<section class="section instagram-feed">
			<!--<div class="container">
				<div class="row">
					<div class="title">
						<h2>View us on instagram</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="instagram-slider" id="instafeed" data-accessToken="IGQVJYeUk4YWNIY1h4OWZANeS1wRHZARdjJ5QmdueXN2RFR6NF9iYUtfcGp1NmpxZA3RTbnU1MXpDNVBHTzZAMOFlxcGlkVHBKdjhqSnUybERhNWdQSE5hVmtXT013MEhOQVJJRGJBRURn"></div>
					</div>
				</div>
			</div>-->
		</section>
	</section>
	<script class="main-main" th:src="@{/main/js/script.js}"></script>
</body>

</html>