<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
 // You take the design from the design template file
-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en"
	th:replace="~{layouts/main-layout :: mainLayout(~{::link.main-main}, ~{::section.main-main}, ~{::script.main-main})}">

<head>
	<link class="main-main" rel="stylesheet" th:href="@{/main/css/style.css}">
</head>

<body>
	<section class="main-main" th:remove="tag">
		<section class="products section">
			
			<div class="title text-center" th:if="${category ne null}">
			    <h2 th:text="${category.name}"></h2>
			</div>
			<div class="title text-center" th:unless="${category ne null}">
			    <h2>Tất cả sản phẩm</h2>
			</div>
			<div class="container">				
				<div class="row">
					<div th:each="product: ${products}" class="col-md-4">

						<div class="product-item">
							<div class="product-thumb">
								<img class="img-responsive" th:src="${product.getImages[0].url}"
									alt="product-img" />
								<div class="preview-meta">
									<ul>
										<li>
											<span data-toggle="modal" data-target="#product-modal">
												<i class="tf-ion-ios-search-strong"></i>
											</span>
										</li>
										<li>
											<a href="#!"><i class="tf-ion-android-cart"></i></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="product-content">
								<h4><a th:text="${product.name}" th:href="@{/main/productdetail/{id}(id=${product.id})}"></a></h4>
								<p th:inline="text" class="price">[[${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}]] VNĐ</p>
							</div>
						</div>
					</div>

				</div>
				
				<div class="btn-group mt-5" role="group" aria-label="Basic example" th:unless="${category ne null}">
					<a type="button" th:href="@{/main/product/1}"
						class="btn btn-outline-secondary">&#8810;</a>
					<a th:if="${currentPage}-1>0"
						th:href="@{/main/product/{page}(page=${currentPage}-1)}"
						class="btn btn-outline-secondary">&lt;</a>
					<a type="button" class="btn btn-outline-secondary"
						th:text="${currentPage}"></a>
					<a th:if="${currentPage}+1<=${totalPages}"
						th:href="@{/main/product/{page}(page=${currentPage}+1)}"
						type="button" class="btn btn-outline-secondary">&gt;</a>
					<a type="button"
						th:href="@{/main/product/{page}(page=${totalPages})}"
						class="btn btn-outline-secondary">&#8811;</a>
				</div>
				<div class="btn-group mt-5" role="group" aria-label="Basic example" th:if="${category ne null}">
					<a type="button" th:href="@{/main/product/{category}/{page}(category=${category.id}, page=1)}"
						class="btn btn-outline-secondary">&#8810;</a>
					<a th:if="${currentPage}-1>0"
						th:href="@{/main/product/{category}/{page}(category=${category.id}, page=${currentPage}-1)}"
						class="btn btn-outline-secondary">&lt;</a>
					<a type="button" class="btn btn-outline-secondary"
						th:text="${currentPage}"></a>
					<a th:if="${currentPage}+1<=${totalPages}"
						th:href="@{/main/product/{category}/{page}(category=${category.id}, page=${currentPage}+1)}"
						type="button" class="btn btn-outline-secondary">&gt;</a>
					<a type="button"
						th:href="@{/main/product/{category}/{page}(category=${category.id}, page=${totalPages})}"
						class="btn btn-outline-secondary">&#8811;</a>
				</div>
			</div>
		</section>


		
		
	</section>
	<script class="main-main" th:src="@{/main/js/script.js}"></script>
</body>

</html>